<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.CityMapper">

    <resultMap id="BaseResultMap" type="com.shop.entity.City">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>


    <select id="getCityByEventId" resultType="com.shop.dto.CityDto">
        SELECT DISTINCT c.id, c.name, v.name venue
        FROM performances p
                 JOIN EVENTS e ON p.`event_id` = e.id
                 JOIN venues v ON p.`venue_id` = v.id
                 JOIN city c ON c.id = v.city_id
        WHERE e.id = #{id}
    </select>
</mapper>
