<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.shop.entity.Orders">
            <id property="id" column="id" />
            <result property="price" column="price" />
            <result property="ticketId" column="ticket_id" />
            <result property="createTime" column="create_time" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,price,ticket_id,create_time,is_deleted
    </sql>
</mapper>
