<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.shop.entity.User">
            <id property="id" column="id" />
            <result property="orderId" column="order_id" />
            <result property="account" column="account" />
            <result property="url" column="url" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,account,url,is_deleted
    </sql>
</mapper>
